@font-face {
  font-family: "kepler";
  src: url("../assets/Kepler\ Std\ Light\ Extended\ Display.otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "nimbus";
  src: url("../assets/nimbussandligcon.ttf");
  font-weight: normal;
  font-style: normal;
}

html {
  height: 100%;
}

body {
  height: 100%;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "kepler";
}

p,
a,
div {
  font-family: "nimbus";
}

.text-with-shadow {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

@media (min-width: 768px) {
  .navbar {
    height: 80px;
  }
}

.navbar {
  background-color: #cfb584;
}

.navbar a {
  color: #fff;
  font-family: "kepler";
  transition: transform 0.3s;
}
.navbar a:hover {
  transform: scale(1.1);
  color: #fff;
}

.navbar-brand {
  position: absolute;
  top: 10%;
  left: 48%;
}

.navbar-brand img {
  height: 50px;
}

.navbar .btn {
  border: 0;
  background-color: #fff;
  transition: transform 0.2s;
  color: #cfb584;
}

.navbar .book-now {
  font-weight: bold;
  padding: 15px 20px 10px 15px;
  margin-left: 30px;
}

.navbar .btn:hover {
  transform: scale(1.1);
  color: #cfb584;
}

.nav-social .btn-outline-secondary {
  color: #cfb584;
  border-color: #cfb584;
  transition: transform 0.2s;
}

.nav-social .btn-outline-secondary:hover {
  transform: scale(1.1);
  background-color: #fff;
}

#mainSection {
  position: relative;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#headerBackgroundImg {
  height: 300px;
  background-image: url("../assets/img/about-us/header-image.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  position: absolute;
  width: 100%;
  top: 0;
}

#headerBackground {
  height: 300px;
  background-color: #cfb584;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  position: absolute;
  z-index: 1;
  opacity: 0.3;
  width: 100%;
  top: 0;
}

#headerText {
  color: #fff;
  font-weight: bold;
  text-align: center;
  z-index: 1;
}

#headerText h1 {
  font-size: 6rem;
  font-family: Arial, Helvetica, sans-serif;
}
.breadcrumb {
  background-color: transparent !important;
  font-size: 2rem;
}

.breadcrumb-item a {
  color: #cfb584;
}

.breadcrumb-item a:hover {
  color: #cfb584;
}

@media (max-width: 768px) {
  #headerText h1 {
    font-size: 4rem;
  }

  .breadcrumb {
    font-size: 1.5rem;
  }
}

.row .col-lg-12 {
  text-align: center;
}

.btn-social {
  padding: 0.5rem 0.75rem 0.2rem 0.75rem !important;
}

footer {
  width: 100%;
  background-color: #cfb584;
}

footer .row {
  justify-content: center;
  align-items: center;
}

footer p {
  margin: 0;
  font-family: "kepler";
  color: #fff;
}

footer img {
  height: 5rem !important;
}

footer .btn-outline-secondary {
  color: #fff;
  border-color: #fff;
}

footer .btn-outline-secondary:hover {
  color: #cfb584;
  background-color: #fff;
  border-color: #fff;
}
