@font-face {
  font-family: "kepler";
  src: url("../assets/Kepler\ Std\ Light\ Extended\ Display.otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "nimbus";
  src: url("../assets/nimbussandligcon.ttf");
  font-weight: normal;
  font-style: normal;
}

html {
  height: 100%;
}

body {
  height: 100%;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "kepler";
}

p,
a,
div {
  font-family: "nimbus";
}

.text-with-shadow {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

@media (min-width: 768px) {
  .navbar {
    height: 80px;
  }
}

.navbar {
  background-color: #cfb584;
}

.navbar a {
  color: #fff;
  font-family: "kepler";
  transition: transform 0.3s;
}
.navbar a:hover {
  transform: scale(1.1);
  color: #fff;
}

.navbar-brand {
  position: absolute;
  top: 10%;
  left: 48%;
}

.navbar-brand img {
  height: 50px;
}

.navbar .btn {
  border: 0;
  background-color: #fff;
  transition: transform 0.2s;
  color: #cfb584;
}

.navbar .book-now {
  font-weight: bold;
  padding: 15px 20px 10px 15px;
  margin-left: 30px;
}

.navbar .btn:hover {
  transform: scale(1.1);
  color: #cfb584;
}

.nav-social .btn-outline-secondary {
  color: #cfb584;
  border-color: #cfb584;
  transition: transform 0.2s;
}

.nav-social .btn-outline-secondary:hover {
  transform: scale(1.1);
  background-color: #fff;
}

#mainSection {
  position: relative;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#headerBackgroundImg {
  height: 300px;
  background-image: url("../assets/img/about-us/header-image.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  position: absolute;
  width: 100%;
  top: 0;
}

#headerBackground {
  height: 300px;
  background-color: #cfb584;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  position: absolute;
  z-index: 1;
  opacity: 0.3;
  width: 100%;
  top: 0;
}

#headerText {
  color: #fff;
  font-weight: bold;
  text-align: center;
  z-index: 1;
}

#headerText h1 {
  font-size: 6rem;
  font-family: Arial, Helvetica, sans-serif;
}

#secondSection .card {
  text-align: center;
  color: #cfb584;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: -10px 10px 2px #cfb584;
  transition: transform 0.3s;
  position: relative;
  text-decoration: none;
}

#secondSection .card:hover {
  transform: scale(1.1);
  color: #cfb584;
}

#secondSection .card-background {
  height: 220px;
  width: 100%;
  top: 0;
  position: absolute;
}

#secondSection .card:hover .card-background::before {
  content: "";
  background-color: rgba(0, 0, 0, 0.6);
  height: 220px;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  position: absolute;
}

#secondSection .card:hover .card-background {
  background-image: url("../assets/img/homepage/homepage-3.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.9);
}

#secondSection .card .card-text {
  z-index: 1;
  line-height: 1;
}

#secondSection .card img {
  height: 60px;
  width: 90px;
  margin-bottom: 20px;
}

#secondSection .card img,
.card h2,
.card h4,
.card p {
  z-index: 1;
}

.card h2,
.card h4 {
  line-height: 1;
}

.card h2 {
  font-weight: bold;
  margin-bottom: 0;
}

.card p {
  margin-bottom: 1.5rem;
}

#thirdSection {
  background-image: url("../assets/img/services/services-1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  width: 100%;
}

#thirdSection .col-lg-12 {
  text-align: center;
}

@media (max-width: 820px) {
  #thirdSection .col-lg-6 {
    margin-bottom: 20px;
  }
}

.col-lg-12 h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 3rem;
  font-weight: bold;
  color: #fff;
}

#thirdSection .card {
  width: 80%;
}

#thirdSection .col-lg-6 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.package-1,
.package-2 {
  position: relative;
}

.package-2 {
  background-color: #cfb584 !important;
}

.package-1 .card-title {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2rem;
  font-weight: bold;
  color: #cfb584;
  text-align: center;
  margin-bottom: 100px;
}

.package-2 .card-title {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2rem;
  font-weight: bold;
  color: #fff;
  text-align: center;
  margin-bottom: 100px;
}

.price {
  height: 80px;
  width: 110%;
  position: absolute;
  top: 66px;
  left: -20px;
  border-radius: 20px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.package-1 .price h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2rem;
  font-weight: bold;
  color: #fff;
}

.package-2 .price h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2rem;
  font-weight: bold;
  color: #cfb584;
}

.package-1 .price {
  background-color: #cfb584;
}

.package-2 .price {
  background-color: #fff;
}

.btn-social {
  padding: 0.5rem 0.75rem 0.2rem 0.75rem !important;
}

footer {
  width: 100%;
  background-color: #cfb584;
}

footer .row {
  justify-content: center;
  align-items: center;
}

footer p {
  margin: 0;
  font-family: "kepler";
  color: #fff;
}

footer img {
  height: 5rem !important;
}

footer .btn-outline-secondary {
  color: #fff;
  border-color: #fff;
}

footer .btn-outline-secondary:hover {
  color: #cfb584;
  background-color: #fff;
  border-color: #fff;
}
